[submodule "3rdparty/miniaudio"]
	path = 3rdparty/miniaudio
	url = https://github.com/slerpxcq/miniaudio.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/slerpxcq/glfw.git
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/slerpxcq/imgui.git
[submodule "3rdparty/pffft"]
	path = 3rdparty/pffft
	url = https://github.com/slerpxcq/pffft.git
[submodule "3rdparty/implot"]
	path = 3rdparty/implot
	url = https://github.com/slerpxcq/implot.git
[submodule "3rdparty/spline"]
	path = 3rdparty/spline
	url = https://github.com/slerpxcq/spline.git
